.console-colors {
  --c-triangle-fill: #9aa0a6;

  --c-border: #3a3a3a;

  --c-bg: #202124;
  --c-text: #ffffff;
  --c-anchor: rgb(177, 177, 177);

  --c-bg-warn: #332b00;
  --c-bg-error: #290000;

  --c-badge: #5db0d7;
  --c-badge-warn: #f29766;
  --c-badge-error: #f28b82;

  --c-border-warn: #665500;
  --c-border-error: #5c0000;
  --c-border-table: #494c50;

  --c-text-warn: #f2ab26;
  --c-text-debug: #4d88ff;
  --c-text-error: #ff5d32;

  --c-bg-table-2np1: #292a2d;

  --c-text-number: #9980dc;
  --c-text-bint: #7b896f;
  --c-text-size: #9aa09a;
  --c-text-string: #35d4c7;
  --c-text-char-f: #f29766;
  --c-text-propName: #5db0b5;
  --c-text-proto: #9aa0a6;
  --c-text-propHidden: #45778f;
  --c-text-two-dot: #ffffff;

  --c-el-tag: #3aa3cc;
  --c-el-attr-key: #7bbbb9;
  --c-el-attr-val: #f27739;
  --c-el-comment: #896d4b;
  --c-el-doctype: #b6b493;
}
