.number {
  color: #9980dc;
}
.bint,
.nill {
  color: #7b896f;
}
.array-size {
  color: #9aa09a;
  margin-right: 4px;
}
.string,
.regexp,
.symbol {
  color: #35d4c7; //rgb(233, 63, 59);
}
.char-f {
  color: #f29766;
}
.function,
.char-f {
  font-style: italic;
}

.propName {
  color: #5db0b5; //rgb(227, 110, 236);
  font-weight: 500;
}
.proto {
  color: #9aa0a6 !important;
}
.propHidden {
  color: #45778f;
}
.is {
  color: #fff;
  margin-right: 0.7em;
}

.collapse-summary {
  .propName {
    // color: #9aa0a6;
  }
}

.comma {
  margin-right: 4px;
}

.element {
  &-tag {
    color: #3aa3cc;
  }
  &-propName {
    color: #7bbbb9;
  }
  &-propValue {
    color: #f27739
  }

  &-comment {
    color: #896d4b
  }
  &-doctype {
    color: #b6b493
  }
}
