.number {
  color: #9980ff;
}
.bint,
.nill,
.array-size {
  color: rgb(165 165 165);
}
.string,
.regexp,
.symbol {
  color: rgb(1 200 1); //rgb(233, 63, 59);
}
.char-f {
  font-style: italic;
  color: #f29766;
}

.propName {
  color: rgb(39 116 240); //rgb(227, 110, 236);
}
.proto {
  color: #7f7f7f;
}
.propHidden {
  opacity: 0.8;
}
.is {
  color: #fff;
  margin-right: 0.7em;
}
