.console-wrap {
  font-family: Consolas, Lucida Console, Courier New, monospace, sans-serif;
  white-space: pre-wrap;

  // theme
  background-color: #202124;
  color: #ffffff;
  font-size: 13px;
  line-height: 1.2;

  position: relative;
  width: 100%;

  padding-right: (10px + 7 * 2);
}
