.console-wrap {
  font-family: Consolas, Lucida Console, Courier New, monospace, sans-serif;
  white-space: pre-wrap;

  --bg-color: #202124;
  // theme
  background-color: var(--bg-color);
  color: #ffffff;
  font-size: 13px;
  line-height: 1.2;

  position: relative;
  width: 100%;

  padding-right: (10px + 7 * 2);

  :deep(a) {
    color: rgb(177, 177, 177);
    text-decoration: underline;
  }
}
